<!DOCTYPE html>
<!-- saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/pricing/ -->
<html lang="en" class="gr__getbootstrap_com">

<head>
 <% include ../partials/head %> 
</head>
<body>


<div class="page-container">
	<div class="left-content">
            <div class="mother-grid-inner">
                    <% include ../partials/header %>
   					<%- include('../'+page) %>
                    <% include ../partials/footer %>
            </div>
	</div>
   <% include ../partials/leftsidebar %>
</div>

<% include ../partials/script %>
<body>
</html>

