<!-- inner pages start -->
<div class="inner_all_pages loginbg">
	<div class="container">
		<div class="row">
			<div class="users">
				<div class="col-lg-12 col-lg-offset-12 col-md-12 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
					<div class="logIn">
						<h2> <span>Reset Password</span></h2>
					</div>
					
					<div class="loginouter">
						<div class="col-lg-5  col-md-6 col-sm-6">
							<figure class="logiimg">
							<img src="<%=  baseUrl %>images/loginimg.png">
						</div>
						<div class="col-lg-7  col-md-6 col-sm-6">
							<div class="login-form">
								<form method="post" action="">
									<input type="hidden" name="_csrf" value="<%= csrfToken%>">
									<div class="row">
										
										<div class="col-xs-12">
											<div class="form-group required" aria-required="true">
												<div class="input-group">
													<span class="input-group-addon"><i class="fas fa-lock"></i></span>
													<input name="password" class="form-control" placeholder="Password" id="password" required="required" aria-required="true" type="password">
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group required" aria-required="true">
												<div class="input-group">
													<span class="input-group-addon"><i class="fas fa-lock"></i></span>
													<input name="conf_password" class="form-control" placeholder="Confirm Password" id="conf_password" required="required" aria-required="true" type="password">
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<button class="btn btnTheme"  type="submit">Submit</button> 
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="form-group links">
												Back to<a class="forgot-password" href="<%=baseUrl%>auth/login">Login?</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
