<!--//w3-agileits-pane--> 

<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
     <p>© <span id="CYear"><%= fullYear %></span> <%=  "Company Name" %>. All Rights Reserved </p>
</div>  
<!--COPY rights end here-->